# Environment variables
.env

# Virtual Environment
venv/
__pycache__/

# Certificates
certs/*.pem
certs/*.key
certs/*.crt
certs/*.cer

# Ignore local development files
*.log
.DS_Store

# Python files
*.pyc 